html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    background-image: url("../img/background.jpg");
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.log-in {
    text-align: center;
}

.log-in form {
    max-width: 300px;
    margin: 0 auto;
}

.log-in label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.log-in input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.log-in button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.log-in button:hover {
    background-color: #555;
}

.log-in a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.log-in a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
